

img{
height: 150px;
display:block;
margin:0px auto;
text-align:center;
}

.container{
  width: 60%;
  margin-left: 20%;
  margin-top: 70px;
}
.container input{
  width: 200px;
  height: 30px;
  border-radius: 10px;
  font-size: 15px;
  text-align: left;
  margin-left: 30%;
  margin-bottom: 40px;
  padding: 5px;
  padding-left: 20px;
  box-shadow: 1px 1px 1px 1px;
  font-weight: 600;
}

.container button{
  width: 100px;
  height: 45px;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
  margin-left: 20px;
  font-weight: 600;
  box-shadow: 1px 1px 1px 1px;
}

.output{
  display:flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  background-color: #FAEBD7;
  padding: 15px;
  border-bottom: 1px solid grey;
}
